<!--<nav class="navbar navbar-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Maps", map_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Movies", movies_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", login_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>-->

<div id="user_nav">
    <% if current_user %>
        <%= link_to "MovieGo", root_path, class: "btn btn-secondary btn-lg"%>
        <%= link_to "Movies", movies_path, class: "btn btn-secondary btn-lg" %>
        <%= link_to "Log Out", signout_path, id:"sign_out", class: "btn btn-secondary btn-lg"%>
    <% else %>
        <%= link_to "MovieGo", root_path, class: "btn btn-secondary btn-lg"%>
        <%= link_to "Log In", "/auth/facebook", id:"sign_in", class: "btn btn-secondary btn-lg"%>
    <% end %>
</div>

