<!DOCTYPE html>
<html>
  <head>
    <title>MovieGo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>


    <div id="user_nav">
        <% if current_user %>
            <%= link_to "MovieGo", root_path, class: "btn btn-secondary btn-lg"%>
            <%= link_to "Log Out", signout_path, id:"sign_out", class: "btn btn-secondary btn-lg"%>
        <% else %>
            <%= link_to "MovieGo", root_path, class: "btn btn-secondary btn-lg"%>
            <%= link_to "Log In", "/auth/facebook", id:"sign_in", class: "btn btn-secondary btn-lg"%>
        <% end %>
    </div>

    
    <!--<%= render 'shared/header' %>-->
    <!--<%= render 'shared/navigation' %>-->

    <%= yield %>


</html>
