<%= render 'shared/header' %>
<%= render 'shared/navigation' %>

<!DOCTYPE html>
<html>
<head>
  <title>MovieGo Map View</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<h2 style="color:black;">
Theaters showing <%= @title.inspect %>
</h1>
<div id="map"></div>
<script>

  function addMarker(coords, map, markerImage) {
    var marker = new google.maps.Marker({
      position: coords,
      map: map,
      icon: markerImage
    });
  }

  function convertAddressToCoordinates(addie) {
    var address = addie;
    var geocoder = new google.maps.Geocoder();
    var result = {lat: 34.062766, lng: -118.446728};

    geocoder.geocode({'address': address}, function (results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var lati = results[0].geometry.location.lat();
        var longi = results[0].geometry.location.lng();
        result = {lat: lati, lng: longi}
      }
    });

    return result;
  }

  function initMap() {
    // latitude and longitude position
    // intialize to default coordinates in Westwood
    var mapCenter = {lat: 34.062766, lng: -118.446728};

    // get the map location from the user's location
    // use the users location as the map center
    var userLocation = <%= @location.inspect %>;
    console.log("User Location: " + userLocation);
    mapCenter = convertAddressToCoordinates(userLocation);

    // set the map to center on the 'mapCenter', and the zoom level
    // higher zoom means closer
    var map = new google.maps.Map(document.getElementById('map'), {
      center: mapCenter,
      zoom: 13
    });

    // the image for the marker
    // choose the correct timer image to use based on time remaining
    var markerImage = {
      url: "assets/15mintimer.png",
      scaledSize: new google.maps.Size(69, 69) // he he
    };

    // get the movie info from the map controller
    // and parse it into a JSON dictionary
    var movieInfo = <%= @decoded_uri.inspect %>;
    movieInfo = JSON.parse(movieInfo);




    // add a marker onto the map at the position of 'coords' on the map 'map'
    // use a custom marker icon 'markerImage'
    addMarker(coords, map, markerImage);
    addMarker({lat: 34.062636, lng:-118.447334}, map, markerImage);
    addMarker({lat: 34.061565, lng:-118.446620}, map, markerImage);
    // var marker = new google.maps.Marker({
    //   position: coords,
    //   map: map,
    //   icon: markerImage
    // });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWeRVSSqyWviphBYAymUc31B2cfeZpY6A&callback=initMap" async defer></script>
</body>
</html>